
h2{
    line-height: 1.5   ;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
}

#title{
    background-color: #ff4c68;
    color: white;
}
.big-heading{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 3.5rem;
line-height: 1.5;
font-weight: 900;
}

.containerfluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    margin-bottom: 4.5rem;
}
.nav-item{
    padding: 0% 5% 0% 10%;
    font-size: 1.2rem;
}
.Download-button{
    margin: 5% 3% 5% 0%;
}
.iphone-image{
    width: 16%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* features */

#features{
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: white;
}
.dog-features{
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.test-image{
    border-radius: 100%;
}

/* press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.press-image{
    width: 12%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}


#pricing{
   text-align: center;
   padding: 100px;
}

.section-heading{
    line-height: 1.5;
    font-weight: bold;
    font-size:3rem;
}
.price-sub{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card1{
    padding: 2% 3%;
}

@media (max-width:990px){

    #title{
        text-align: center;
    }

    .iphone-image{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 0;
}

.cta-font{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    
}

#footer{
    padding: 5% 0;
    text-align: center;
}
.bottom-icon{
    padding: 0% 1%;
}